<div class="main">
  <div class="card">
    <span class="card__title">Agregar un Registro</span>
    <table>
      <tr>
        <td width="30%">Fecha</td>
        <td width="70%"><input type="date" [formControl]="form.date" /></td>
      </tr>
      <tr>
        <td width="30%">Concepto</td>
        <td style="display: flex; gap: 0.5em; align-items: center" width="70%">
          <div style="display: flex; flex-direction: column; gap: 0.5rem">
            <label for="income-kind">
              <input
                [ngClass]="{
                  check: form.concept.value,
                  uncheck: !form.concept.value
                }"
                type="radio"
                name="kind"
                id="income-kind"
                [value]="true"
                [formControl]="form.concept"
              />
              Ingreso
            </label>
            <label for="outcome-kind"
              ><input
                [ngClass]="{
                  check: !form.concept.value,
                  uncheck: form.concept.value
                }"
                type="radio"
                name="kind"
                id="outcome-kind"
                [value]="false"
                [formControl]="form.concept"
              />
              Egreso</label
            >
          </div>
        </td>
      </tr>
      <tr>
        <td width="30%">Categoría</td>
        <td width="70%">
          <select [formControl]="form.category">
            @for (concept of concepts; track concept) {
            <option [value]="concept">{{ concept }}</option>
            }
          </select>
        </td>
      </tr>
      <tr>
        <td width="30%">Descripción</td>
        <td width="70%" vAlign="Middle">
          <textarea [formControl]="form.description" rows="3"></textarea>
        </td>
      </tr>
      <tr>
        <td width="30%">Valor</td>
        <td width="70%">
          <input type="number" [formControl]="form.value" />
          <span>
            {{ form.value.value | currency : "COP" : "" : "1.0-2" }}
          </span>
        </td>
      </tr>
    </table>
    <button class="submit" (click)="submit()" [disabled]="message">
      Subir
    </button>
    <i class="message" (click)="cleanMessage()">{{ message }}</i>
  </div>
</div>
