.main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    .title {
        font-size: 3rem;
        text-align: center;
        justify-self: center;
        width: 100%;
    }
    .card {
        width: 100%;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 8px 4px #F0F0F0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .card-title {
            font-size: 1.6rem;

        }

        table {
            width: 100%;
            tr {
                width: 100%;
                td {
                    border: 1rem solid transparent;
                    vertical-align: middle;
                }
            }
        }
    }

    input[type=date], select {
        border: none;
        box-shadow: 0 0 4px 2px #F1F1F1;
        height: 1.8rem;
        width: 100%;
        text-align: center;
        font-size: 1.1rem;
        background-color: #fff;
        outline: none;
    }

    textarea {
        border: none;
        box-shadow: 0 0 4px 2px #F1F1F1;
        width: 100%;
        text-align: center;
        font-size: 1.1rem;
        background-color: #fff;
        outline: none;
    }

    input[type=radio] {
        margin: 0;
        margin-right: 0.2rem;
    }

    .check {
        width: 16px;
        height: 16px;
        border: 2px solid #B0B0B0;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        &:after {
            content: "";
            background: #B0B0B0;
            width: 8px;
            height: 8px;
            position: absolute;
            border-radius: 50%;
            left: calc(50% - 4px);
            top: calc(50% - 4px);
        }
    }
    .uncheck {
        width: 16px;
        height: 16px;
        border: 2px solid #B0B0B0;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        &:after {
            content: "";
            display: none;
            background: #B0B0B0;
            width: 8px;
            height: 8px;
            position: absolute;
            border-radius: 50%;
            left: calc(50% - 4px);
            top: calc(50% - 4px);
        }
    }

    .submit {
        width: 100%;
        height: 3rem;
        font-size: 1.8rem;
        border: none;
        box-shadow: 0 0 4px 8px #FAFAFA;
        background-color: #FFF;
        border-radius: 1em;
        margin-top: 2rem;
    }

    .message {
        margin-top: 1rem;
        font-style: italic;
    }

}