<button class="insert" (click)="goToInsert()">Insertar</button>
<table>
  <tr>
    <th>Fecha</th>
    <th>Concepto</th>
    <th>Categoría</th>
    <th>Descripción</th>
    <th>Valor</th>
  </tr>
  @if(recordResource.isLoading()) {
    <tr>
      <td colspan="5">Cargando...</td>
    </tr>
  }@else {
    @for(record of recordResource.value(); track $index) {
    <tr>
      <td>{{ record.date | date : "dd MMM" }}</td>
      <td
        [ngClass]="{
          income: record.concept.toUpperCase() === 'INCOME',
          outcome: record.concept.toUpperCase() === 'OUTCOME'
        }"
      >
        {{ record.concept }}
      </td>
  
      <td>{{ record.category }}</td>
      <td style="min-width: 50dvw; text-wrap: wrap;">
        {{ record.description }}
      </td>
      <td>{{ record.value }}</td>
    </tr>
    }
  }
</table>
